:root {
  /** sunny side **/
  --egg-shell: #f4f1de;
  --terracotta: #e07a5f;
  --dark-blue: #3d405b;
  --dark-blue-highlight: #52567a;
  --green: #81b29a;
  --yellow: #f2cc8f;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: var(--egg-shell);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.componentMain {
  padding: 25px;
}
.headingMain {
  text-align: center;
  color: var(--terracotta);
}

.footer {
  background-color: var(--dark-blue);
  color: var(--egg-shell);
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
}
.footerButton {
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
}
.footerButton:hover {
  background-color: var(--dark-blue-highlight);
}

.huntButton{
  background-color: var(--terracotta);
  padding: 7px;
  min-height: 50px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
}



.twentyWidth {
  width: 20%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
