:root {
  /** sunny side **/
  --egg-shell: #f4f1de;
  --terracotta: #e07a5f;
  --dark-blue: #3d405b;
  --dark-blue-highlight: #52567a;
  --green: #81b29a;
  --yellow: #f2cc8f;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: var(--egg-shell);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.componentTall {
  height: 100%;
}
.componentMain {
  padding: 25px;
  background-color: var(--egg-shell);
}
.headingMain {
  text-align: center;
  color: var(--terracotta);
}

.selectedToggle {
  border-bottom: var(--egg-shell) 6px solid;
}

.firstSecondButtonHolder {
  display: flex;
  padding: 5px;
  justify-content: center;
}
.primaryButton {
  border: var(--dark-blue) 3px solid;
  background-color: var(--dark-blue);
  padding: 5px;
  border-radius: 8px;
  width: 50%;
  text-align: center;
  color: var(--egg-shell);
}
.primaryButton:hover {
  color: var(--dark-blue);
  background-color: var(--egg-shell);
}
.secondaryButton {
  border: var(--dark-blue) 3px solid;
  background-color: unset;
  padding: 5px;
  border-radius: 8px;
  width: 50%;
  text-align: center;
}

.secondaryButton:hover {
  background-color: var(--dark-blue);
  color: var(--egg-shell);
}
.footer {
  background-color: var(--dark-blue);
  color: var(--egg-shell);
  margin-top: auto;
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  justify-content: space-evenly;
}
.footerButton {
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
}
.footerButton:hover {
  background-color: var(--dark-blue-highlight);
}

.addComponent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.huntButton {
  background-color: var(--terracotta);
  padding: 7px;
  min-height: 50px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
}

.bufferBottom {
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.huntItems {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-content: space-between;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  height: 80%;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.fullInputWidth {
  display: flex;
  flex-direction: column;
}
.halfInputWidth {
  display: flex;
  flex-direction: row;
}

.formButton {
  background-color: var(--dark-blue);
  border: var(--dark-blue) 2px solid;
  margin-top: 16px;
  width: 80%;
  text-align: center;
  border-radius: 8px;
  color: var(--egg-shell);
  padding: 1px;
  margin-left: auto;
  margin-right: auto;
}

.formButton:hover {
  color: var(--dark-blue);
  background-color: var(--egg-shell);
}

.settingsBar {
  float: right;
  margin-top: 2px;
}

.flexDisplay img {
  padding: 5px;
}

.discoverMoreSearch {
  padding: 5px;
}

.discoverMoreSearch input {
  width: 75%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px 0px 0px 8px;
}

.discoverMoreSearch button {
  width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 8px 8px 0px;
}
.sticky {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  left: 0px;
  right: 0px;

  margin-bottom: 0px !important;
  margin-top: 0px !important;
  padding: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  border: 0px !important;
  border-radius: 0% !important;

  border-bottom: 2px black solid !important;
  transition-duration: 0.5s;

  transition-property:  margin-top, margin-bottom, padding-top,
    padding-bottom;
}
.sticky div {
  padding-left: 22px !important;
  padding-right: 12px !important;
  padding-top: 5px !important;
  padding-bottom: 1px !important;
  transition-duration: 0.5s;

  transition-property:  padding-top, padding-bottom;
}
.sticky div .settingsBar {
  margin-top: -40px;
  transition-duration: 0.5s;

  transition-property: margin-top;
}
.content {
  padding-top: 0px;
}
.sticky + .content {
  padding-top: 82px;
}
.twentyWidth {
  width: 20%;
}
.widthFull {
  width: 100%;
}

.addButton {
  margin: 5px;
  width: 33%;
  align-self: center;
  text-align: center;
  min-height: 50px;
  border-radius: 5px;
  background-color: var(--dark-blue);
  color: white;
}

.addButton:hover {
  background-color: var(--dark-blue-highlight);
}

.marginTopAuto {
  margin-top: auto;
  display: flex;
}
.friendsProfile {
  border: var(--dark-blue) 3px solid;
  border-radius: 8px;
}
.friendsButton {
  width: 50%;
  background-color: var(--dark-blue);
  text-align: center;
  padding-bottom: 2px;
  padding-top: 8px;
  color: var(--egg-shell);
}

.flexDisplay {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}
.show {
  display: initial;
}
.hide {
  display: none;
}

.followItem {
  padding: 5px;
  border-top: 1px var(--dark-blue) groove;
}
.followItem:hover {
  color: var(--egg-shell);
  background-color: var(--dark-blue);
}

.ProfileInfo {
  border: 2px black solid;
  /* background-color: var(--terracotta); */
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  margin-top: 15px;
  flex-direction: column;
  transition-duration: 0.3s;

  transition-property:  margin-top, margin-bottom, padding-top,
    padding-bottom;
}

.ProfileInfo h2 {
  margin: 0px;
}

.bufferHug {
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
